.code .panel:not(.split-panel):not(.command-panel) {
  background: var(--workbench-panel-background);
  border-radius: 8px;
}

.code .panel.split-panel {
  background: transparent;
  border-radius: 8px;
}

.code .panel.command-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  margin: 10px 0;
  background: var(--workbench-panel-background);
}

.code .panel.command-panel .left-panel-options,
.right-panel-options,
.middle-panel-options {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 32px;
  gap: 6px;
}

.left-panel-options,
.right-panel-options,
.middle-panel-options {
  height: 20px;
}

.code .panel.command-panel span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
}

.code .panel.command-panel span svg {
  width: 18px;
  height: auto;
}

.code .panel.command-panel span.active {
  font-weight: 600;
}

.code .panel.command-panel span:not(.active):hover,
.hovered {
  background: var(--workbench-panel-options-hover-background);
}

.code .panel.bottom-panel {
  background: transparent !important;
}
